@import '../index';

/* Buttons
==========

    <button class="button1">Button</button>
    <button class="button2">Button</button>
    <button class="button3">Button</button>

*/

%asc-button {
    display: inline-block;
}

%asc-button-skin-default {
    color: white;
    background: blue;
}

@mixin ASCButton($selector: '.button', $skin: 'default') {
    #{$selector} {
        @include ASCExtend('%asc-button', $skin);
    }
}

// Default declaration
@include ASCRegisterComponent('ASCButton', '.button');
@include ASCRegisterComponent('ASCButton', '.button2');


/* Other Skin
============= */
%asc-button-skin-otherSkin {
    color: white;
    background: red;
}

// Other skin usage
@include ASCRegisterComponent('ASCButton', 'none-selector', (
        'selector': '.test-btn',
        "skin": "otherSkin"
));


/* Expose method
================ */
@mixin exposeASCButton() {
    @each $declaration, $params in map-get($ASComponents, "ASCButton") {
        @include ASCButton($params...);
    }
}

// Expose them (do it in an other file)
@include exposeASCButton();